                                                                        /* Heading fonts */
h1 {
    font-family: 'Ibarra Real Nova', cursive;
    color: white;
    text-decoration: underline;
} /* this sets the main headings to white with a simpe underline in a "Ibarra Real Nova" font */

h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 12px;
    padding-top: 60px;
    padding-bottom: 20px;
    text-decoration: overline underline;
    font-size: 21px;
} /* this sets heading 2 to have a line above and below the text as well as setting the padding and font size in "Times New Roman" */

h3{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 30px;
} /* very simpily sete the colour to white and the font to "times New Roman" */

h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 216, 88);
    padding: 10px;
} /* sets the colour to a yellow gold in "times New Roman" as well as setting the padding for any heading 4 text */

                                                                            /* Images */
.circles img{
    border-radius: 75%;
    filter: grayscale(0);
} /* sets the profile picture to a circle */

div.filter :hover{
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(5);
    transition: background-size 0.3s ease; 
} /* when the user hovers over the circle image it now becomes greyscaled */

div.item {
    text-align: 200px;
    border-radius: 100%;
    height: 240px;
 } /* sets out an area for the in which the media links are located */

div.banner{
    background-color: black;
    width: 100%;
    height: auto;
    border: 0px;
    margin: 0px;
    padding: 0;
    border-radius: 10px;
    outline: 5px;
    outline-color: white;
} /* this creates a backgrund banner which will be used behind the navagtion on the about and portfolio pages */

                                                                        /* Background Video */
.header-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(
        270deg,
        rgba(241, 92, 92, 0.301),
        rgba(63, 63, 63, 0.692)
    );
    height: 750px;
    width: 100%;
    position: relative;
    overflow: hidden; 
} /* this sets the backround for where the video will be positioned */

.background-vid{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
} /* this sets where the video will be placed at the top of the page */

@media only screen and (max-width: 768px) {
    video {
      display:none;
    }
} /* in order to hide the background video on mobile i found this @media at https://ctrlq.org/code/19651-background-video-css i did this
due to the difficulty i was having getting the video to resize for a mobile view */

                                                                            /* Navigation */
nav{
    margin: 20px;
} /* sets margin to 20px for the navigaton */

.downloads {
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    box-shadow: grey;
    padding: 12px 28px;
    margin-left: 20px;
    background-image: linear-gradient(
        270deg,
        rgba(241, 92, 92, 0.301),
        rgba(63, 63, 63, 0.692)
    );
} /* Creates a button for the dowload links to sit on */

                                                                            /* Portofolio Grid */

.grid-image{
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: auto; 
} /* sets the sizing of the images which will be on the grid */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(150px, auto);
} /* sets the properties for the grid including the columns */

.description{
    position: relative;
    height: 484;
    width: 365;
    text-align: center;
} /* sets the sizing and positon of the descriptions on the portfolio page */

                        /*  original selector .CSS credited to style shift at https://codepen.io/EvyatarDa/pen/waKXMd CSS Line 231-264*/
div.container{
    margin: 0 auto;
    padding: 3em 3em 3em 30px;
    text-align: center;
} 

div.container a {
    text-decoration: none;
    margin: 0px 10px;
    position: relative;
    z-index: 1;
    cursor: none;
}

div.selector{
    position: relative;
    transform: translateX(0);
}

div.selector a:before, div.selector a:after {
    position: fixed;
    width: 78px;
    height: 76px;
    border: 4px solid rgba(255, 0, 0, 0.575);
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: 0;
    padding: 10px 10px;
    margin-top: 10px;
} /* sets how the boxes will move and there sizings */

div.selector a:after {
    filter: grayscale(1);
    border-width: 3px;
    transition: all 0.4s;
    margin-left: 43px;
} /* sets what the back box will look like */ 

div.selector a:hover:before, div.selector a:focus:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
    margin-left: 48px;
} /* sets opacity and movement */

div.selector a:hover:after, div.selector a:focus:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
    margin-left: 48px;
    margin-top: 10px;
} /* sets opacity and movement */

@media only screen and (max-width: 1024px){
    div.selector a{
        padding: 0;
        margin: 0;
        opacity: 0;
    }
} /* This @media is used to hide the selectors on mobile device */

                                                                                /* Layout */
header{
    margin-top: 1rem;
    margin-bottom: 1rem;
} /* sets margin heights for the header */

body{
    text-align: center;
    align-content: center;
    text-size-adjust: 5px;
    padding: 0px;
    margin-top: 20px;
} /* sets content algnment padding and top margin for the body */

footer{
    padding: 20px;
    align-content: center;
    height: 200px;
    margin-top: 100px;
} /* sets content algnment padding and top margin for the footer */

html{
    background-color: lightslategray;
    cursor: cell;
    border: 20px;
    background-image: linear-gradient(
        90deg,
        rgba(241, 92, 92, 0.301),
        rgba(63, 63, 63, 0.692)
    );
    text-decoration-color: white;
 } /* sets feautres fo the whole html document including cursor, background colour and gradient */