/* Heading fonts */
h1 {
    font-family: 'Lobster', cursive;
    color: white;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 216, 88);
}
h4{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 216, 88);
    padding: 10px;
}


/* Images */
.circles img{
    border-radius: 75%;
    /*border-style: none;*/
    filter: grayscale(0);
}

div.filter :hover{
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: grayscale(5);
    transition: background-size 0.3s ease; 
}

/*  original selector circles .CSS credited to style shift at https://codepen.io/EvyatarDa/pen/waKXMd */
div.container
{
    margin: 0 auto;
	padding: 3em;
	text-align: center;
}

div.container a {
    text-decoration: none;
    margin: 0px 10px;
    position: relative;
    z-index: 0;
    cursor: none;
}

div.selector a:before, div.selector a:after {
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid red;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 60%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
    padding: 10px 10px;
}

div.selector a:after {
    filter: grayscale(1);
    border-width: 3px;
    transition: all 0.4s;
}

div.selector a:hover:before {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.selector a:hover:after {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}

/* Background Video */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(
        90deg,
        rgba(252, 255, 85, 0.301),
        rgba(27, 27, 27, 0.692)
    );
    height: 750px;
    /*margin-bottom: 50px;*/
    position: relative;
    overflow: hidden;
}

.background-vid{
    position: relative;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (max-width: 768px) {
    video {
      display:none;
    }
}
/* .CSS in order to hide the background video on mobile i found this @media at https://ctrlq.org/code/19651-background-video-css i did this
due to the difficulty i was having getting the video to resize for a mobile view*/

/* Layout */
header{
    /*background: black;*/
    margin-top: 1rem;
    margin-bottom: 1rem;
}


body {
    text-align: center;
    align-content: center;
    text-size-adjust: 5px;
    height: 1500px;
    padding: 0px;
 }

 footer{
    padding: 20px;
    align-content: center;
    height: 200px;
 }

 html{
    background-color: lightslategray;
    cursor: cell;
    border: 20px;
 }