h1 {
    font-family: 'Lobster', cursive;
}

.item {
   text-align: 200px;
   border-radius: 100%;
   height: 240px;
   width: 240px;
}

img {
    border-style: none;
    border-radius: 100%;
    filter: grayscale(0);
}
.container :hover{
    filter: grayscale(1);
    border-style: none;
    border-radius: 100%;
    transition: background-size 0.3s ease;
    filter: greyscale(1);
    transition: background-size 0.3s ease; 
}

/*  selector circles credited to style shift at https://codepen.io/EvyatarDa/pen/waKXMd */
div.selector a:before, div.selector a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid ;
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    z-index: -1;
}

div.selector a:after
{
    border-width: 2px;
    transition: all 0.4s;
}

div.selector a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1);
}

div.selector a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) scale(1.3);
}




 body {
     text-align: center;
 }
